{{ define "main"}}

{{ $paginator := .Paginate (where site.RegularPages "Type" "posts") site.Params.paginate | default 10 }}

{{ if site.Params.zenMode }}
<div class="dream-zen-posts max-w-[65ch] mt-8 mx-auto px-4 space-y-8">
{{ range $paginator.Pages }}
  {{ .Render "zen-summary" }}
{{ end }}
</div>
{{ else }}
<div class="dream-grid opacity-0">
  {{ range $paginator.Pages }}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 dream-column">
      {{ .Render "summary" }}
    </div>
  {{ end }}
</div>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<div class="flex justify-center mt-8">
  {{ partial "paginator.html" (dict "paginator" $paginator) }}
</div>
{{ end }}

{{ end }}

{{ define "js" }}

{{ if site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}
<!-- dify chatbot -->
<script>
 window.difyChatbotConfig = {
  token: 'h2hkg50dPRmb7SaR',
  inputs: {
    // You can define the inputs from the Start node here
    // key is the variable name
    // e.g.
    // name: "NAME"
  },
  systemVariables: {
    // user_id: 'YOU CAN DEFINE USER ID HERE',
    // conversation_id: 'YOU CAN DEFINE CONVERSATION ID HERE, IT MUST BE A VALID UUID',
  },
  userVariables: {
    // avatar_url: 'YOU CAN DEFINE USER AVATAR URL HERE',
    // name: 'YOU CAN DEFINE USER NAME HERE',
  },
 }
</script>
<script
 src="https://udify.app/embed.min.js"
 id="h2hkg50dPRmb7SaR"
 defer>
</script>
<style>
  #dify-chatbot-bubble-button {
    background-color: #1C64F2 !important;
  }
  #dify-chatbot-bubble-window {
    width: 24rem !important;
    height: 40rem !important;
  }
</style>
{{ end }}
